#container {
    width: 80%;
    margin: 0 auto;
}
#container .content {
    width: 30%;
    background: red;
    margin: 1%;
    height: 225;
    float: left;
    text-align: center;
    line-height: 225px;
}
#main {
    width: 80%;
    height: 200px;
    background: blue;
    clear: both;
    margin: 0 auto;
    line-height: 200px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    #container .content{
        width: 45%;
        margin: 2.5%;
    }
}
@media screen and (max-width: 480px) {
    #container .content{
        width: 99%;
        margin: 0.5%;
    }
}